@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --fontFamily: "Inter", sans-serif;
  --whiteColor: #fff;
  --blackColor: #000;
  --blueColor: #2f86d7;
  --redColor: #841c2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--fontFamily);
  background: var(--whiteColor);
  color: var(--blackColor);
}

/* Header */
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__row:nth-child(1) {
  align-items: center;
  padding: 40px 0;
}
.header__row:nth-child(2) {
  align-items: flex-start;
  background: var(--blueColor);
  padding: 20px 25px 60px;
}
.header__image {
  width: 15%;
}
.header__image img {
  max-width: 100%;
}
.header__info {
  text-align: center;
}
.header__description {
  font-size: 24px;
  font-weight: 400;
}
.header__title {
  font-size: 48px;
  font-weight: 400;
}
.header__search {
  position: relative;
}
.header__search-label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  position: absolute;
  pointer-events: none;
}
.header__search-label svg {
  width: 25px;
  height: 25px;
}
.header__search-input {
  height: 100%;
  padding: 10px 0 10px 42px;
  border: none;
  background: var(--whiteColor);
}
.header__search-input:not(:placeholder-shown) + .header__search-label {
  display: none;
}

.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  width: 85%;
}
.nav__item {
  flex: 1 0 255px;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  color: var(--whiteColor);
  height: 100%;
  font-size: 18px;
}

/* Main */
.section-title {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 20px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 400;
}

.main {
  padding: 20px 0;
}
.main__row {
  display: flex;
  align-items: flex-start;
}
.main__sidebar {
  position: sticky;
  top: 0;
  width: 20%;
  padding: 20px;
}
.main__sidebar-logo {
  position: absolute;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  width: 70%;
}
.main__sidebar-logo img {
  max-width: 100%;
}
.main__sidebar-logo_visible {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;
}
.main__sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main__sidebar-list_scrolled {
  padding: 100px 0 40px;
}
.main__sidebar-item {
  font-size: 18px;
}
.main__sidebar-item:first-child {
  font-size: 24px;
}
.main__sidebar-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.main__sidebar-map p {
  font-size: 24px;
  margin-bottom: 8px;
}
.main__sidebar-map iframe {
  border: none;
  width: 100%;
  height: 300px;
}
.main__content {
  width: 80%;
}

.home__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__image {
  width: 70%;
}
.home__image img {
  max-width: 100%;
}
.home__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: flex-end;
}
.home__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.home__item .underline {
  text-decoration: underline;
}
.home__item.underline {
  text-decoration: underline;
}
.home__welcome {
  align-self: flex-start;
  padding: 0 0 40px 80px;
  width: 70%;
}
.home__welcome-title {
  font-size: 32px;
  margin-bottom: 12px;
  color: var(--redColor);
  text-shadow: -5px 4px 8px gray;
}
.home__welcome-wrapper {
  display: flex;
  align-items: flex-end;
  font-size: 24px;
}
.home__welcome-text {
  width: 70%;
}
.home__welcome-image {
  width: 30%;
}
.home__welcome-image img {
  max-width: 100%;
}

.program {
  padding: 0 0 20px 80px;
  width: 70%;
}
.program__title {
  border-block: 1px solid var(--redColor);
}
.program__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.program__item {
  text-decoration: underline;
}

.news {
  padding-left: 80px;
  width: 80%;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.news__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news__item-link {
  text-decoration: underline;
}
.news__item-date {
  font-size: 20px;
}
.news__item-image {
  width: 20%;
}
.news__item-image img {
  max-width: 100%;
}
.news__item-text {
  width: 80%;
  padding-top: 12px;
  font-size: 18px;
}
.news__item-wrapper {
  display: flex;
  gap: 20px;
}

.groups {
  padding: 0 0 40px 80px;
  width: 80%;
}
.groups__wrapper .accordion {
  display: flex;
  flex-wrap: wrap;
}
.groups__wrapper .accordion__item {
  flex-basis: 250px;
  margin-bottom: 30px;
}
.groups__wrapper .accordion__button {
  font-size: 20px;
}
.groups__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0 0 16px;
}

.accordion__button {
  border: none;
  background: none;
  cursor: pointer;
}
.accordion__body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s;
}
.accordion__body_collapse {
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.2s;
}
.accordion__content {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
