@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-cyr.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-latin.woff2") format("woff2");
}

:root {
  --fontFamily: "Inter", sans-serif;
  --whiteColor: #fff;
  --blackColor: #000;
  --blueColor: #2f86d7;
  --redColor: #841c2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 16px;
}

.body {
  font: {
    family: var(--fontFamily);
  }

  background: var(--whiteColor);
  color: var(--blackColor);

  &__backdrop_active {
    &::before {
      content: "";
      position: fixed;
      inset: 0;

      width: 100vw;
      height: 100vh;

      background: rgba(0, 0, 0, 0.2);
    }
  }
}

/* Header */

.header {
  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199.98px) {
      justify-content: center;
    }

    &:nth-child(1) {
      align-items: center;
      padding: 40px 0;
    }

    &:nth-child(2) {
      align-items: flex-start;
      background: var(--blueColor);
      padding: 20px 25px 60px;

      @media (max-width: 767.98px) {
        padding: 20px;
        align-items: center;
      }

      .dropdown {
        flex-grow: 1;
        padding-left: 60px;

        @media (max-width: 575.98px) {
          padding: 0;
        }
      }

      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__image {
    width: 10%;
    img {
      max-width: 100%;
    }

    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  &__info {
    text-align: center;
  }

  &__description {
    font: {
      size: 24px;
      weight: 400;
    }

    @media (max-width: 767.98px) {
      font: {
        size: 20px;
      }
    }

    @media (max-width: 575.98px) {
      font: {
        size: 16px;
      }
    }
  }

  &__title {
    font: {
      size: 48px;
      weight: 400;
    }

    @media (max-width: 767.98px) {
      font: {
        size: 36px;
      }
    }

    @media (max-width: 575.98px) {
      font: {
        size: 26px;
      }
    }
  }

  &__search {
    position: relative;

    @media (max-width: 575.98px) {
      margin-bottom: 12px;
      width: 100%;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 8px;

      height: 100%;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      position: absolute;
      pointer-events: none;

      svg {
        $size: 25px;

        width: $size;
        height: $size;
      }
    }

    &-input {
      height: 100%;
      padding: 10px 0 10px 42px;

      border: none;
      background: var(--whiteColor);

      &:not(:placeholder-shown) + .header__search-label {
        display: none;
      }

      @media (max-width: 575.98px) {
        width: 100%;
      }
    }
  }
}

.nav {
  @media (max-width: 767.98px) {
    display: none;
  }

  flex-grow: 1;

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    width: 85%;
  }

  &__item {
    flex: 1 0 255px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 20px 10px;

    color: var(--whiteColor);

    height: 100%;

    font: {
      size: 18px;
    }
  }
}

.dropdown {
  display: none;
  position: relative;

  @media (max-width: 767.98px) {
    display: block;
  }

  &__button {
    border: none;
    padding: 6px 20px;

    font: {
      size: 20px;
    }
  }

  &__content {
    $transitionTime: 0.1s;

    position: absolute;
    top: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: $transitionTime;

    background: var(--blueColor);

    &_open {
      opacity: 1;
      visibility: visible;

      transition: $transitionTime;
    }
  }
}

.mobile-nav {
  &__link {
    font: {
      size: 20px;
    }
    color: var(--whiteColor);
  }

  &__item {
    padding: 15px;

    @media (max-width: 575.98px) {
      width: 200px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

/* Main */

.section-title {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 20px;
  margin-bottom: 40px;

  font: {
    size: 32px;
    weight: 400;
  }
}

.main {
  padding: 20px 0;

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__sidebar {
    position: sticky;
    top: 0;
    width: 20%;

    @media (max-width: 1199.98px) {
      width: 30%;
    }

    @media (max-width: 991.98px) {
      width: 40%;
    }

    @media (max-width: 767.98px) {
      display: none;
    }

    padding: 20px;

    &-logo {
      $transitionTime: 0.2s;

      position: absolute;
      left: -100%;
      opacity: 0;
      visibility: hidden;
      transition: $transitionTime;

      width: 70%;

      img {
        max-width: 100%;
      }

      &_visible {
        position: static;
        opacity: 1;
        visibility: visible;

        transition: $transitionTime;
      }
    }

    &-list {
      $transitionTime: 0.2s;

      display: flex;
      flex-direction: column;
      gap: 12px;
      transition: $transitionTime;

      &_scrolled {
        padding: 100px 0 40px;
        transition: $transitionTime;

        @media (max-width: 767.98px) {
          padding: 40px 0;
        }
      }
    }

    &-item {
      font: {
        size: 18px;
      }

      &:first-child {
        font: {
          size: 24px;
        }
      }
    }

    &-map {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-top: 100px;

      p {
        font: {
          size: 24px;
        }
        margin-bottom: 8px;
      }

      iframe {
        border: none;
        width: 100%;
        height: 300px;
      }
    }
  }

  &__content {
    width: 80%;

    @media (max-width: 1199.98px) {
      width: 70%;
    }

    @media (max-width: 991.98px) {
      width: 60%;
    }

    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.home {
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 50%;

    img {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: flex-end;

    @media (max-width: 991.98px) {
      padding: 40px 20px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 8px;

    .underline {
      text-decoration: underline;
    }

    &.underline {
      text-decoration: underline;
    }
  }

  &__welcome {
    align-self: flex-start;
    padding: 0 0 40px 80px;
    width: 70%;

    @media (max-width: 991.98px) {
      width: 100%;
      padding: 0 40px 40px 40px;
    }

    &-title {
      font: {
        size: 32px;
      }

      margin-bottom: 12px;

      color: var(--redColor);
      text-shadow: -5px 4px 8px gray;
    }

    &-wrapper {
      display: flex;
      align-items: flex-end;

      font: {
        size: 24px;
      }
    }

    &-text {
      width: 70%;

      @media (max-width: 767.98px) {
        width: 100%;

        font: {
          size: 18px;
        }
      }
    }

    &-image {
      width: 30%;
      img {
        max-width: 100%;
      }

      @media (max-width: 1199.98px) {
        display: none;
      }
    }
  }
}

.program {
  padding: 0 0 20px 80px;
  width: 70%;

  @media (max-width: 991.98px) {
    width: 100%;
    padding: 0 40px 20px 40px;
  }

  &__title {
    border-block: 1px solid var(--redColor);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    text-decoration: underline;
  }
}

.news {
  padding-left: 80px;
  width: 80%;

  @media (max-width: 991.98px) {
    width: 100%;
    padding: 0 40px 0 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-link {
      text-decoration: underline;
    }

    &-date {
      font: {
        size: 20px;
      }
    }

    &-image {
      width: 20%;
      img {
        max-width: 100%;
      }

      @media (max-width: 1199.98px) {
        width: 40%;
      }

      @media (max-width: 991.98px) {
        width: 100%;
      }
    }

    &-text {
      width: 80%;
      padding-top: 12px;

      font: {
        size: 18px;
      }

      @media (max-width: 1199.98px) {
        width: 60%;
      }

      @media (max-width: 991.98px) {
        width: 100%;
      }
    }

    &-wrapper {
      display: flex;
      gap: 20px;

      @media (max-width: 991.98px) {
        flex-direction: column;
      }
    }
  }
}

.groups {
  padding: 0 0 40px 80px;
  width: 80%;

  @media (max-width: 991.98px) {
    width: 100%;
    padding: 0 40px 40px;
  }

  &__wrapper {
    .accordion {
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex-basis: 250px;
        margin-bottom: 30px;
      }

      &__button {
        font: {
          size: 20px;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0 0 16px;
  }
}

.accordion {
  &__button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &__body {
    $transitionTime: 0.2s;

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $transitionTime;

    &_collapse {
      grid-template-rows: 1fr;
      transition: grid-template-rows $transitionTime;
    }
  }

  &__content {
    overflow: hidden;
  }
}

.burger {
  display: none;

  @media (max-width: 767.98px) {
    display: block;
  }

  $transitionTime: 0.2s;

  &__button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: var(--blackColor);

    span {
      display: block;
      width: 65%;
      height: 3px;
      position: absolute;
      left: 50%;
      pointer-events: none;
      transform: translateX(-50%);
      background: var(--whiteColor);

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%);
        top: 50%;
      }

      &:nth-child(3) {
        bottom: 12px;
      }
      transition: $transitionTime;
    }
  }

  &_open {
    .burger__menu {
      left: 0;
      visibility: visible;
      transition: $transitionTime;
    }

    span {
      &:nth-child(1) {
        top: 48%;
        transform: translateX(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 48%;
        transform: translateX(-50%) rotate(135deg);
      }
      transition: $transitionTime;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    z-index: 500;
    width: 50vw;
    height: 100vh;
    transition: $transitionTime;
    padding: 50px 20px;
    background: var(--whiteColor);
    overflow: auto;

    @media (max-width: 575.98px) {
      width: 70vw;
    }

    .main__sidebar {
      &-logo {
        width: 50%;
      }

      &-list {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
